*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container{
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 100px auto 100px;
    grid-template-areas: 
    "header header hader"
    "main main main"
    "footer footer footer";
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* ---HEADER--- */

header{
    background: rgb(60, 204, 180);
    background: radial-gradient(circle, rgb(111, 189, 176) 0%, rgb(150, 173, 196) 100%);
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 20px;
    width: 100%;
    height: 100px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    grid-area: header;
}

header a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

header a h1{
    color: #eebb14;
}

header h1 span{
    color: rgb(33, 253, 242);
}

header nav ul{
    list-style: none;
    display: flex;
}

header nav ul li{
    margin: 10px;
} 

/* ---MAIN--- */

main{
    grid-area: main;
}

.hero{
    width: 100%;
    height: 65vh;
    background-image: url("../img/tortas.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h2{
    color: rgb(255, 251, 0);
    font-size: 50px;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    border: 2px solid rgb(251, 255, 7);
    padding: 20px;
}

.hero p{
    background-color: #52e0d5;
    color: rgb(255, 255, 255);
    margin-bottom: 15px;
    margin: 15px;
}

.hero a{
    text-decoration: none;
    color: rgb(216, 216, 216);
    background-color: #48adbe;
    padding: 6px;
}

.bienvenidos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 150px 50px 150px;
}

.bienvenidos .bienvenidos-contenedor{
    padding: 30px;
}

.bienvenidos .bienvenidos-contenedor h2{
    font-size: 35px;
    text-align: center;
}

.bienvenidos .img-contenedor{
    display: flex;
    justify-content: space-around;
}

.bienvenidos img{
    width: 250px;
    height: 350px;
    border: 4px solid white;
}

.productos h2{
    background: rgb(8,22,130);
    background: radial-gradient(circle, rgba(8,22,130,1) 5%, rgba(9,121,51,1) 30%);
    text-align: center;
    color:#25d6cd ;
    padding: 10px;
}

.productos .productos-contenedor{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.productos .productos-contenedor div{
    width: 250px;
    height: 350px;
    margin: 10px;
    margin-top: 10px;
    border: 1px solid rgb(85, 144, 179);
    text-align: center;
    box-shadow: 7px 6px 14px 5px #9c9797;
    border-radius: 5%;
}

.productos div img{
    width: 250px;
    height: 250px;
}

.productos h3{
    margin: 10px;
}

.productos div a:hover{
    background-color: #00fd7f;
    color: rgb(2, 2, 1);
    border-radius: 5px;
    padding: 6px;
    transition: 1s;
}

.productos div a{
    text-decoration: none;
    color: rgb(255, 252, 252);
    background-color: #5c2ad1;
    padding: 5px;
    border-radius: 10px;
}

.galeria .galeria-contenedor{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.galeria h2{
    background: rgb(8,22,130);
    background: radial-gradient(circle, rgba(8,22,130,1) 5%, rgba(9,121,51,1) 30%);
    color:#25d6cd ;
    text-align: center;
    padding: 5px;
}

.galeria .galeria-contenedor div{
    width: 250px;
    height: 250px;
    position: relative;
}

.galeria div img{
    position: absolute;
    height: 250px;
    width: 250px;
    margin-top: 10px;
    border: 1px solid rgb(85, 144, 179);
    text-align: center;
    box-shadow: 7px 6px 14px 5px #9c9797;
    border-radius: 5%;
}

.galeria div h3{
    position: absolute;
    bottom: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.397);
    width: 100%;
    text-align: center;
    border-radius: 10px;
}

.fixed{
    position: fixed;
    bottom: 5%;
    right: 3%;
    background-color: #f1d84b;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    border-radius: 100%;
    padding-top: 15px;
    width: 200px;
    height: 200px;
    border: 2px solid rgb(98, 73, 238);
}

.fixed div{
    margin-top: 20px;
}

.fixed div span{
    color: rgb(173, 36, 36);
}

/* ---FOOTER--- */

footer{
    background: rgb(8,22,130);
    background: radial-gradient(circle, rgba(8,22,130,1) 5%, rgba(9,121,51,1) 30%);
    grid-area: footer;
}

footer a img{
    width: 80px;
    height: 80px;
    margin: 10px;
}

.pie{
color: rgb(245, 242, 242);
}

 @media screen and (max-width:480px){
    .grid-container{
        grid-template-columns: 1fr;
        grid-template-rows: 200px 100px 200px 200px;
        grid-area: 
        "header"
        "nav"
        "main"
        "footer"
        ;
    }
}
/*
@media screen and (max-width:720px){
    .grid-container{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 200px 100px 400px 200px;
        grid-template-areas: 
        "header header"
        "nav nav"
        "main main"
        "footer footer"
        ;
    }
} */


@media screen and (max-width:970px){
    .bienvenidos{
        flex-direction: column;
    }

}

@media screen and (max-width:775px){
    .bienvenidos .bienvenidos-contenedor{
        padding: 0px;
        width: 100%;
        margin-bottom: 15px;
    }
    .fixed{
        display: none;
    }
}

@media screen and (max-width:543px) {
    .hero h2{
        font-size: 40px;
    }
}

@media screen and (max-width:500px) {
    .img-none{
        display: none;
    }
    
}

@media screen and (max-width:544px){
    header{
        flex-direction: column;
    }
}

@media screen and (max-width:478px){
    .bienvenidos{
        margin: 50px;
    }
}

@media screen and (max-width:478px){
    header{
        height: auto;
    }
    header nav ul{
        flex-direction: column;
    }
    .hero h2{
        padding: 10px;
    }
}
